<section id="section02">
  <div class="container">
      <div class="sectionheader">Projects</div>
    <div class="row sectionsplitter">
        <div class="sectiontext">
          HackSaw
        </div>
        <div class="sectiontext8">
          My 128-bit Encryption Algorithm as a Ruby script &nbsp;|&nbsp;
          <a href="http://github.com/xhpwn/HackSaw.git" target="_blank">GitHub</a>
          &nbsp;|&nbsp;
          <a href="http://saxena.xyz/HackSaw" target="_blank">Website</a> &nbsp;|
          </div>
        <div class="sectiontext">
          Ac1dRa1n
        </div>
        <div class="sectiontext8">
          Custom-length custom-model random password generator &nbsp;|&nbsp;
          <a href="http://github.com/xhpwn/Ac1dRa1n.git" target="_blank">GitHub</a>
          &nbsp;|&nbsp;
          <a href="http://saxena.xyz/Ac1dRa1n" target="_blank">Website</a> &nbsp;|
          </div>
          <div class="sectiontext">
          Task Machine
        </div>
        <div class="sectiontext8">
          Data and task management software as a Java desktop application
          &nbsp;|&nbsp;
          </div>
          <div class="sectiontext">
          ProxyHunt
        </div>
        <div class="sectiontext8">
          I-clicker transportation app, built at HackIllinois &nbsp;|&nbsp;
          <a href="http://github.com/xhpwn/Ac1dRa1n.git" target="_blank">GitHub</a>
          &nbsp;|&nbsp;
          <a href="http://saxena.xyz/Ac1dRa1n" target="_blank">Website</a> &nbsp;|
          </div>


        <div class="sectiontext2">
          Click <a [routerLink]="['/home']">here</a> to go back to the home page.
        </div>
        
    </div>
  </div>
  </section>
  
  <section id="section04" class="footer">
	©&nbsp;&nbsp;Anubhav Saxena &nbsp;2017 &nbsp;&nbsp;|
  &nbsp;&nbsp;Written in <a href="https://angular.io" target="_blank">
    <img src="assets/imgs/angular2.png" id="footerimg"></a>
</section>